<%- include("header") -%>

<h2>This is the about page</h2>

<p>My name is Mann Chandarana and currently I am pursuing my Btech degree in computer Science and engineering<br>
from Charusat university</p>

<%- include("footer") -%>
