
<% const today = new Date(); %>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copy right @ <%=(today).getFullYear()%> By Mann Chandarana</p>
  </div>
</div>
</body>
</html>
